*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: JosefinSlab, sans-serif;
    font-size: 60%;}

h1{
    font-size: 3rem; 
    font-family: CabinSketch;}

h2{font-size: 2rem;}

p{font-size: 2rem;}

label{
    font-size: 2rem; 
    font-family: AkayaTelivigala; 
    color: #FF7851;}

input{font-size: 2rem;}

button{
    font-size: 2rem; 
    font-family: AkayaTelivigala;}

.container{
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    background-color: #f3f8ff;}

.text-content{
    max-width: 90%;
    margin: 0 auto;
    margin-top: 3.5rem;}

.text-content img{
    max-width: 75%;
    margin-left: 15rem;}

.box-calculo img{
    width: 30rem;
    margin-top: 2rem;}

.form .input-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;}

.box-calculo label{
    margin-bottom: 0.5rem;}

.box-calculo input{
    width: 100%;
    height: 5.6rem;
    background: #fafafc;
    border: 0.1rem solid #e6e6f0;
    box-sizing: border-box;
    border-radius: 0.8rem;
    text-align: center;}

.box-calculo input::placeholder{
    color: #000000;}

.box-calculo button{
    width: 18.8rem;
    height: 5.7rem;
    background: #fb3d28;
    color: #000000;
    border: none;
    text-align: center;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;}

.box-calculo button:hover{
    background-color: #424141;}

/* css do resultado no JS */
.result-info{
    font-family: AkayaTelivigala, sans-serif;
    font-size: 3rem;
    text-align: center;
    color: #ffffff;
    width: 0 auto;
    margin-top: 2rem;}

.result-block{
    display: flex;
    align-items: center;
    margin: 0.5rem;}

.result-block img{
    width: 3rem;
    margin: 0;
    margin-right: 0.5rem;}

.result-block p{
    font-family: AkayaTelivigala, sans-serif;
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);}

/* Desktop Responsivity */
@media (min-width: 700px){
    *{overflow: hidden;}
    .text-content h1{
        text-align: center;
        font-size: 5rem; 
        width: 68rem; 
        margin-left: 25rem;
        margin-top: 3rem;}
    .box-calculo{
        height: 100vh;
        background-color: #000000;
        border-radius: 4rem 0 0 4rem;
        display: flex;
        align-items: center;
        flex-direction: column;}
    .form{margin-top: 2rem; width: 70%;}
    .grid{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0;}}

/* Mobile Responsivity */
@media (max width: 700px){
    #result{width: 90%;}
    .result-info{margin-bottom: 3rem}
    .result-block{
        justify-content: space-between;
        margin: 1rem;
        background-color: white;
        padding: 1rem;
        border-radius: 0.6rem;}}

    